.header__bar {
    position: fixed;
    top: 0.7rem;
    left: 0.8rem;
    display: flex;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 20000;
    margin: 0 auto;
    height: 4.5rem;
    width: 77.5rem;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    background-color: rgba(51, 37, 37, 0.6);
}

.header__left {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    padding-left: 1rem;
    margin-top: 0.7rem;
    height: 3rem;
    opacity: 1;
}

.db__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.game__button {
    font-size: 20px;
    margin-left: 1.5rem;
    letter-spacing: 1px;
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.2s;
    cursor: pointer;
}

.berita__button {
    font-size: 20px;
    margin-left: 1.5rem;
    letter-spacing: 1px;
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.2s;
    cursor: pointer;
}

.merch__button {
    font-size: 20px;
    margin-left: 1.5rem;
    letter-spacing: 1px;
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.2s;
    cursor: pointer;
}

.support__button {
    position: relative;
    font-size: 20px;
    margin-left: 1.5rem;
    letter-spacing: 1px;
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.2s;
    cursor: pointer;
}

.game__button:hover,
.berita__button:hover,
.merch__button:hover,
.support__button:hover {
    color: rgb(253, 208, 140);
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-top: 0.7rem;
    padding-right: 1rem;
    height: 3rem;
    opacity: 1;
}

.search__icon {
    position: absolute;
    top: 0.4rem;
    right: 8.2rem;
    z-index: 10;
}

ion-icon {
    font-size: 58px;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

ion-icon:hover {
    color: rgb(194, 186, 186);
}

.play__button {
    padding: 0.55rem 0.9rem 0.55rem 0.9rem;
    background-color: rgb(186, 94, 114);
    border-radius: 20px;
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
    transition: 0.28s;
    cursor: pointer;
}

.play__button:hover {
    background-color: rgba(149, 67, 85, 1);
    color: white;
}
