.hero__section {
    justify-content: center;
    display: flex;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}
 .hero-gradient {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 50rem;
    width: 100%;
    height: 50rem;
    pointer-events: none;
    z-index: 3;
    background: linear-gradient(
        0deg,
        rgba(1, 10, 19, 1) 15%,
        rgba(1, 10, 19, 0.8) 50%,
        rgba(1, 10, 19, 0.2) 100%
    );
}

.video__hero {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hero__title {
    position: absolute;
    top: 3.3rem;
    left: 24rem;
    color: white;
    z-index: 3;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mainkan__button {
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 24rem;
    left: 35.4rem;
    padding: 1.5rem 2rem 1.5rem 2rem;
    background-color: rgb(186, 94, 114);
    color: black;
    cursor: pointer;
    transition: 0.2s;
    z-index: 100;
}

.mainkan__button:hover {
    background-color: rgb(223, 134, 153);
    color: white;
}

.mainkan__outline {
    position: absolute;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    top: 23.7em;
    left: 35.15rem;
    padding: 2.5rem 4.8rem 2.46rem 4.8rem;
    color: rgb(255, 255, 255);
    pointer-events: none;
    z-index: 300;
}

.db__lettering__logo {
    width: 100%;
    height: 32rem;
}

