.news__section {
    position: relative;
    background-color: rgb(0, 0, 0);
    margin-top: 4rem;
    height: 38rem;
}

.news__main__title {
    position: absolute;
    display: block;
    top: 3rem;
    left: 3rem;
    color: white;
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px; 
}

.news__sector {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 9rem;
    left: 3rem;
    right: 3rem;
}

.news__page1 {
    color: white;
    background-color: var(--dark);
    height: 25rem;
    width: 23rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.news__page2 {
    color: white;
    background-color: var(--dark);
    height: 25rem;
    width: 23rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.news__page3 {
    color: white;
    background-color: var(--dark);
    height: 25rem;
    width: 23rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.news__page1:hover,
.news__page2:hover,
.news__page3:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.news__image {
    display: block;
    border-radius: 10px;
    margin: 1rem 1rem 1rem 1rem;
    width: 21rem;
    height: 10rem;
}

.news-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.news__text__section {
    margin-top: 5.4rem;
}

.news__date {
    position: relative;
    margin-left: 1rem;
    font-size: 10px;
    color: rgb(253, 208, 140);
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
}

.date__divider {
    position: absolute;
    top: 0.08rem;
    left: 6rem;
    height: .9rem;
    width: 1px;
    background-color: white;
}

.date__news {
    position: absolute; 
    top: -.6rem; 
    left: 6.8rem; 
    color: inherit;
}

.news__title {
    margin: .5rem .5rem -.5rem 1rem;
    width: 20rem;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
}

.news__text {
    margin-left: 1rem;
    width: 20rem;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}